<!DOCTYPE html>
<html>
  <head>

    <!-- Tab Title -->
    <title>HUSKY LOVE</title>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    </script>
  

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">




    <!--To make the sortable table to work-->
  

    <script type="text/javascript" src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js">
    </script>
    



    <link rel="stylesheet" type="text/css" href="css/husky_style.css">


  </head>
  <body>


  <!-- Start Nav -->  
<nav class="navbar navbar-default">
<div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Home of the Blue Valley Huskies</a>
            </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Student Home</a></li>
                  <li><a href="#">Nav not needed</a></li>
                  <li><a href="#">just in case</a></li>
                  </ul>
                  </div>
</div>
</nav>
<!-- End Nav -->    

 
<div class="container">
<!-- start Outer Div ^^^ --> 
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1></h1>
            </div>
         </div>
    </div>
<!-- end first row --> 

<!-- second row -->             
          <div class="col-md-12">

            <div class="container" align="center">
              <div class="row">
                  <div class="col-lg-12">
                      <img src="img/HuskyLoveLogo.JPG" align="center">
                  </div>
              </div>
<!-- third row -->




          <div class="row">
            <div class="col-lg-12" align="center">


                      {{{body}}} 
            </div>
          </div>
          
          

<!-- Login In Form end -->
            
       
      </div>
  </div>
<!-- end Outer Div ^^^ --> 

<!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  
  //Mia's script
  
  <!-- Login In Form Start -->
    <script>
      $(function() {
        $('.bootstrapTable').bootstrapTable({
          sortable: true    
        });
      });
    </script>


  <!-- Bootstrap JavaScript CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
    
    <!-- Page Content - End -->
    <!-- jQuery, Required for Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
 
     


 