

<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>HUSKY LOVERS</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/Krabby_Patty.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
  </head>
  <body>
 
      {{{body}}}



    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Link in Local JavaScript (for sound effects) -->
    <script src="/assets/javascript/burger_sounds.js"></script>
    <script>
      $(function() {
        $('.bootstrapTable').bootstrapTable({
          sortable: true    
        });
      });
    </script>

  </body>
</html>